<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<div class="contextual">
    <%= render_project_action_links %>
</div>

<h2><%= l(:label_project_plural) %></h2>

<div id="projects-index">
	<% @projects.delete_if { |p| !p.active? } -%>
	
	<% ids = @projects.map { |p| p.id } %> 
	
	<% ids.delete_if { |p| p.nil? } %>
	
	<% @projects.delete_if { |p| !p.parent_id.nil? } -%>
	
	<div class="accordion">
	  <% for project in @projects %>
	    <%= render :partial => "list", :locals => { :project => project } %>
	  <%- end %>
	</div>
</div>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% content_for :sidebar do %>
  <%= form_tag({}, :method => :get) do %>
    <h3><%= l(:label_project_plural) %></h3>
    <label for="closed"><%= check_box_tag 'closed', 1, params[:closed] %> <%= l(:label_show_closed_projects) %></label>
    <p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
  <% end %>
<% end %>

<% html_title(l(:label_project_plural)) -%>

<script>
$('.accordion').accordion( {
  heightStyle: "content",
  collapsible: true, 
  navigation:true, 
  active: false 
});
$(".accordion h3 a.project").click(function() {
  window.location = $(this).attr('href');
  return false;
});
</script>
